{% extends 'base.html.twig' %}

{% block title %}TypeBien index{% endblock %}

{% block body %}
    <h1>TypeBien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTypeBien</th>
                <th>Nom</th>
                <th>Comition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_bien in type_biens %}
            <tr>
                <td>{{ type_bien.idTypeBien }}</td>
                <td>{{ type_bien.nom }}</td>
                <td>{{ type_bien.comition }}</td>
                <td>
                    <a href="{{ path('app_type_bien_show', {'idTypeBien': type_bien.idTypeBien}) }}">show</a>
                    <a href="{{ path('app_type_bien_edit', {'idTypeBien': type_bien.idTypeBien}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_bien_new') }}">Create new</a>
{% endblock %}
