{% extends 'base.html.twig' %}

{% block title %}AProposLocation{% endblock %}

{% block body %}
    <h1>AProposLocation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ a_propos_location.id }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ a_propos_location.mois }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ a_propos_location.annee }}</td>
            </tr>
            <tr>
                <th>Nb</th>
                <td>{{ a_propos_location.nb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_a_propos_location_index') }}">back to list</a>

    <a href="{{ path('app_a_propos_location_edit', {'id': a_propos_location.id}) }}">edit</a>

    {{ include('a_propos_location/_delete_form.html.twig') }}
{% endblock %}
